<!-- Navbar -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar double-nav">

  <!-- Breadcrumb-->
  <ol class="breadcrumb hidden-lg-down">
    <li class="breadcrumb-item active">
      <a>DataViz</a>
    </li>
    <li class="breadcrumb-item active">Naman</li>
  </ol>

  <!--Navbar links-->
  <ul class="nav navbar-nav nav-flex-icons ml-auto">

    <li class="nav-item">
      <a href="{{ url('/predictions') }}" class="nav-link">
        <i class="fa fa-bar-chart"></i>
        <span class="hidden-sm-down">Predictions</span>
      </a>
    </li>

  </ul>
  <!--/Navbar links-->

</nav>
<!-- /.Navbar -->
